/* stylling for Single-Page Application */

.page {
    min-height: 100vh;
    box-sizing: border-box;
    padding: 10px;
    background-color: #fff8dc;
    box-sizing: border-box;
    position: absolute;
}

#mapPage {
    width: 100%;
}

#howToPage {
    width: 100%;
}

#covidPage {
    width: 100%;
}

#denguePage {
    width: 100%;
}

#dataSourcePage {
    width: 100%;
}

#allPages {
    position: relative;
}

.hidden {
    transform: translateX(-100%);
    display: none;
}

.show {
    transform: translateX(0);
    display: block;
}