/* general stylling */

#logo {
    width: auto;
    max-height: 40px;
    height: 100%;
}

#logo:hover {
    width: auto;
    max-height: 41px;
    height: 100%;
    background-color: #EAECEF;
}

#map {
    height: 88vh;
    width: auto;
    margin: 10px;
    /* z-index: 0; */
}

.navbar-toggler {
    background-color: #d9d6df;
}

.nav-item {
    /* background-color: #f0c3ac; */
    padding-left: 50px;
    padding-right: 50px;
}

.nav-item:hover {
    background-color: #EAECEF;
}


/* styling submenu text font size */

.submenu {
    font-size: 0.75rem;
}


/* stylling for Single-Page Application */

.page {
    min-height: 100vh;
    box-sizing: border-box;
    padding: 10px;
    background-color: cornsilk;
    box-sizing: border-box;
    position: absolute;
}

#mapPage {
    /* background-color: aliceblue; */
    width: 100%;
}

#howToPage {
    /* background-color: blanchedalmond; */
    width: 100%;
    /* z-index: 100; */
}

#covidPage {
    /* background-color: cornsilk; */
    width: 100%;
}

#denguePage {
    /* background-color: turquoise; */
    width: 100%;
}

#dataSourcePage {
    /* background-color: blanchedalmond; */
    width: 100%;
}

#allPages {
    position: relative;
}


/* .page {
    height: 100vh;
    box-sizing: border-box;
    position: absolute;
} */

.hidden {
    transform: translateX(-100%);
    display: none;
}

.show {
    transform: translateX(0);
    display: block;
}


/* style tables in Leaflet popup */

table.hotel {
    border: 1px solid black;
    table-layout: fixed;
    width: 400px
}

th,
td {
    border: 1px solid black;
    width: 200px;
    overflow: hidden;
    padding: 3px
}